div {
	font-size: 16px;
	font-family: Times;
	width: 200px;
	height: 230px;
	border-style: solid;
	border-color: #FA8258;
	border-width: 2px;
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin-bottom: 10px;
}

.primera {
	font-size: 17px;
}


